[submodule "contrib/dojo/dojo"]
	path = contrib/dojo/dojo
	url = git@github.com:marquisthunder/dojo.git
[submodule "contrib/dojo/dijit"]
	path = contrib/dojo/dijit
	url = git@github.com:marquisthunder/dijit.git
[submodule "contrib/dojo/dojox"]
	path = contrib/dojo/dojox
	url = git@github.com:marquisthunder/dojox.git
[submodule "contrib/dojo/util"]
	path = contrib/dojo/util
	url = git@github.com:marquisthunder/util.git
